 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Times New Roman', Times, serif
}

/* header navigation */
header {
    padding: 20px 35px;
    background-color: slategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
} 

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header a {
    text-decoration: none;
    color:whitesmoke;
}

header nav {
    margin: 7px 0;
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

header nav ul li a {
    padding: 25px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Picture */ 
.picture {
    height: 550px;
    width: 100%;
    background-image: url("../images/random.jpg");
    background-size: cover;
    background-position: center;
}

/* About Me */

.description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: slategray;
    color: whitesmoke;
    margin-top: 30px;
}
 
.me {
    flex: 1;
    padding: 35px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-right: 2px solid whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
   
.me2 {
    flex: 2;
    padding: 35px;
    margin: 10px;
    text-align: left;
    font-size: 22px;
    
  
}

/* Work */
.projects {
    display: flex;
    flex-wrap: wrap;
    background-color: slategray;
    color: whitesmoke;
    justify-content: center;
    margin-top: 30px;
}

.worker {
    flex: 1;
    padding: 35px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-right: 2px solid whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

   
}

.marketing {
    flex: 1;
    padding: 12px;
    margin: 10px; 
    display: flex;
    justify-content: center;
}

.marketing:hover {
    transform: scale(1.3);
}

.runbuddy {
    flex: 1;
    padding: 12px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.runbuddy:hover {
    transform: scale(1.3);
}

/* Contact */
       
.contact {
    background-color: gray;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
         
}
    
.title {
    flex: 4;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    border-right: 2px solid whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.address {
    flex: 3;
    padding: 35px;
    margin: 10px;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

.resume {
    flex: 3;
    font-size: 1.55vw;
    padding: 35px;
    margin: 10px;
}

.resume a {
    text-decoration: none;
    color:whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-size: 38px;
    display: flex;
    justify-content: center;
}

/* footer */

.end {
    background-color: slategray;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
}

.end h2 {
    color: whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}


/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 575px) {


.resume a {
    width: 100%;
}
.me2 p {
    width: 100%;
}
}
